$white: #e3e3e3;
$black: #2f2f36;
$yellow: #ffe39c;
$red: #e45252;
$blue: #98c6ff;
$green: #4c725e;
$violet: #a179b4;
$gray: #6d6d6d;
$gray2: #d4d3ca;
$pink: #ffabbe;
$beidi: #c7376c;
$luozi: #375a91;
$money: #d2b6e5;
$ts: transparent;
$blood: linear-gradient(to top, #2f2f36, #b03c3c);

$f3: #f3f3f3;
$f2: #f2f2f2;
$e7eaed: #e7eaed;
$w: #ffffff;
